.div-container {
    background-color: #1e1e1e;
    height: 100%;
    width: 100%;
    color: #848484;
}

.div-image {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image-style {
    width: 351px;
    height: 300px;
}

.div-shortcutkeys {
    height: 50%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: stretch; */
}

.keys-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
}

.left-div{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-div{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
}

.text-div {
    background-color: #2c2c2c;
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    margin-right: 2%;
    padding: 8px 15px;
}

.add-div{
    margin-right: 2%;
}